.NotesList{
   position: relative;
    width: 70%;
    margin: 8px auto;
}
.Note{
    padding: 5px 5px;
    width: 200px;
    height: auto;
    margin-right: 7px;
    margin-left: 5px;
    margin-bottom: 7px;
    float: left;
    background: #FFFFA5;
    font-size: 16px;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    text-align: center;
}
.AddNote__button button{
    position: relative;
    width: 100px;
    height: auto;
    margin-left: 75px;
    background-color: royalblue;
    padding : 7px 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}
.delete__button{
    display: block;
   margin: 5px auto;
   border: none;
}
