li {
    list-style: none;
    
}

.Folder__Header{
    border: 1px solid black;
    padding-top: 6px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 10px;
    margin: 11px 12px;
    border-radius: 5px;
}
.Folder__Header:hover{
    background-color: wheat;
}
