html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}
.container{
    display: table;
	width: 100%;
	height: 100%;
}
.Main{
    display: table-cell;
	width: 85%;
	vertical-align: top;
}
.SideBar{
    display: table-cell;
	width: 15%;
	vertical-align: top;
}
